body {
  padding-top: 100px;
  div {
    margin: 0 auto;
    display: block;
  }
}

.recommendations{
  margin-bottom: 64px;
  .wrapper {
    margin: 0 16px;
  }
}

.all {
  li {
    margin-bottom: 24px;
  }
}